<form action="/new/create" method="post">
  <dl>
    <dt>
      <label for="newdoc">Add a new document:</label>
    </dt>
    <dd>
      <input name="newdoc" id="newdoc" rows="5" cols="100">
    </dd>
  </dl>
  <fieldset class="actions">
    <button type="submit">Create</button>
  </fieldset>
</form>